
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
  border: 1px solid darkgray;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

button {
  background-color: #f2f2f2;
  border: none;
  padding: 5px 8px;
  cursor: pointer;
  margin-left: 5px;
}

.card {
  line-height: 2;
}

#gpa {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 5px;
}

label {
  margin-left: 5px;
}